.pricing-part1 {
  margin: 4.5rem 10.31rem 0 10.31rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.88rem;

  hr {
    padding: 0.0315rem 0;
    width: 100%;
    opacity: 0.25;
    background: #36536B;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }

  h1 {
    color: #36536B;
    text-align: center;
    font-family: DM Serif Display;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 4.5rem; /* 150% */
    letter-spacing: -0.02306rem;
    margin-top: 1.19rem;
  }
  h2 {
    color: #BA4270;
    text-align: center;
    font-family: DM Serif Display;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem; /* 166.667% */
    letter-spacing: -0.01156rem;
    margin-bottom: 1rem;
  }
  p {
    color: #6C8294;
    text-align: center;
    font-family: Public Sans;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem; /* 186.667% */
    max-width: 13.9375rem;
  }
  svg {
    color: #BA4270;
  }

  .plan {
    display: flex;
    flex-direction: column;
    align-items: start;

    p {
      text-align: left;
    }
  }
}
.title {
  color: #36536B;
  text-align: left;
  font-family: DM Serif Display;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.5rem; /* 116.667% */
  letter-spacing: -0.02306rem;
  margin: 5.13rem 10.31rem 0 10.31rem;
}

@media only screen and (max-width: 1200px) {
  .pricing-part1 {
    margin: 4.5rem 4rem 0 4rem;
  }
  .title {
    margin: 5.13rem 4rem 0 4rem;
    text-align: center;
  }
}
@media only screen and (max-width: 695px) {
  .pricing-part1 {
    margin: 4.5rem 2rem 0 2rem;
    grid-template-columns: 1fr;

    .plan {
      margin: 0 auto 3rem auto;
      align-items: center;

      p, h1, h2 {
        text-align: center;
      }
      .contracts {
        width: 200px;
        margin: 0 0 0 2rem;
      }
      .no-contracts {
        text-align: left;
        width: 200px;
        margin: 0 0 0 6.5rem;
      }
    }
  }

  .title {
    margin: 5.13rem 0 0 0;
    text-align: center;
  }
}